body{
    background-color:black;
}
input{
    border-width: 3px;
    border-style: solid;
    border-color: #343A40;
}

button{
    border-width: 3px;
    border-style: solid;
    border-color: #343A40;
}

