<!--Footer-->

<footer>
    <div class="row  bg-preto">
        <div class="col-md-12 d-flex justify-content-center">
                <a href="https://github.com/LucasTrevizanbr" class = "p-3" target = "_blank">
                    <fa-icon [icon] ="faGithub" class = "faGithub fa-3x p-3"></fa-icon>
                </a>
    
               <a href="https://www.linkedin.com/in/lucas-silva-trevizan-1191b51a7/" class = "p-3" target = "_blank">
                <fa-icon [icon] ="faLinkedin" class = "faLinkedin fa-3x p-3"></fa-icon>
               </a>
                
               <a href="https://www.instagram.com/trevizanlucas/" class = "p-3" target = "_blank">
                <fa-icon [icon] ="faInstagram" class = "faInstagram fa-3x p-3"></fa-icon>
               </a>     
        </div>
    </div>

    <div class="row d-flex justify-content-center bg-vermelho">
        <div class="col-md-12">
            <p  class= "text-center text-white">
                Lucas Trevizan &copy;
            </p>
        </div>
    </div>
</footer>
<!--/Footer-->
